@model SportsStore.Domain.Entities.Product
<div data-role="collapsible" data-collapsed="false" data-content-theme="c">
    <h3>
        <strong>@Model.Name</strong>
    </h3>
    <div data-role="ui-grid-b">
        <div data-role="ui-block-a">
            @Model.Description
        </div>
        <div data-role="ui-block-b">
            <b>(@Model.Price.ToString("c"))</b>
        </div>
        <div data-role="ui-block-c">
            @using (Html.BeginForm("AddToCart", "Cart"))
            { 
                    @Html.HiddenFor(x => x.ProductID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" data-inline="true" data-mini="true" value="Add to cart" />
            }
        </div>

    </div>
</div>
